<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vsgh.pronounceit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <permission
        android:name="com.vsgh.pronounceit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".PronounceItApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PITheme">

        <meta-data
            android:name="DATABASE"
            android:value="pitdb.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.vsgh.pronounceit" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.StatisticsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
