<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vsgh.pronounceit">

    <uses-sdk tools:node="merge" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <permission
        android:name="com.vsgh.pronounceit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".PronounceItApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PITheme">
        <meta-data
            android:name="DATABASE"
            android:value="pitdb.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.vsgh.pronounceit" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StatisticsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginButtonsActivity"
            android:label="@string/title_activity_login_buttons"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="101a26e000acf7276b3cf4cd68ad71013b3d61a2" />
    </application>

</manifest>
